* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  .dots{
    font-size: 20px;
    font-style: italic;
    margin-top: 0px;
  }
  .itogdiv{
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .date{
    margin-left: 0px;
    font-style: normal;
  }
  h1{
    text-align: center;
  }
  th, td {
    font-size: 18px;
    padding: 10px;
  }
  table{
    margin: auto;
  }
  table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
  }
  th,td{
    width: 200px;
    text-align: center;
  }
  a {
    text-decoration: none;
    transition: 0.2s ease;
    color: #3f75c5;
  }
  td:nth-child(10) > a {
    color: #c22a2a;
  }
  a:hover {
    opacity: 0.7;
  }
  p {
    font-style: italic;
    margin-left: 50px;
  }
  input, textarea, button {
    padding: 10px;
    display: block;
    min-height: 30px;
    width: 250px;
    margin-bottom: 10px;
  }
  textarea {
    resize: vertical;
    height: 80px;
  }
  button {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }